repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-yaml
  - id: check-merge-conflict
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.4.2
  hooks:
  - id: ruff
    args: [--fix, --show-fixes]
  - id: ruff-format
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: 'v1.10.0'
  hooks:
  - id: mypy
- repo: local
  hooks:
  - id: validate-filenames
    name: validate-filenames
    entry: python scripts/validate-filenames.py
    language: python
    types: [jupyter]
  - id: lint-tags
    name: lint-tags
    entry: python scripts/lint-tags.py
    language: python
    types: [jupyter]
    additional_dependencies: ["nbformat"]
